html
  head
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/style.css')
    title Contacts
  body
    .container
      h1 Contacts
      .row
        table.table.table-striped
          thead
            tr
              th.col-lg-2 Name
              th.col-lg-2 E-mail
              th.col-lg-2 Phone Number
              th.col-lg-4 Address
              th.col-lg-1 Group
              th.col-lg-1 
          tbody
            each contact in contacts
              tr
                each el, key in contact
                  td(class=key)= el
                td
                  i.edit.fa.fa-pencil-square-o.fa-lg
                  i.del.fa.fa-trash-o.fa-lg
      button.btn.btn-primary(data-toggle="modal" data-target="#addNew") +

    #msgModal.modal.fade(role='dialog')
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal') ×
              .modal-body
              .modal-footer
                button#close.btn.btn-primary(type='button', data-dismiss='modal') Close

    #addNew.modal.fade(role='dialog')
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal') ×
              .modal-body
                table
                  tr
                    td.col-xs-1
                      label Name:
                    td.col-xs-6
                      input#name(type='text', value='Mr. Anderson')
                  tr
                    td.col-xs-1
                      label E-mail:
                    td.col-xs-6
                      input#email(type='email')
                  tr
                    td.col-xs-1
                      label Phone Number:
                    td.col-xs-6
                      input#phone(type='tel')
                  tr
                    td.col-xs-1
                      label Address:
                    td.col-xs-6
                      input#addr(type='text')
                  tr
                    td.col-xs-1
                      label Group:
                    td.col-xs-6
                      input#group(type='text')
                button#save.btn.btn-primary.col-xs-offset-3(type='button', data-dismiss='modal') Save

    //- #editModal.modal.fade(role='dialog')
    //-   .modal-dialog
    //-     .modal-content
    //-       .modal-header
    //-         button.close(type='button', data-dismiss='modal') ×
    //-       .modal-body
    //-         table
    //-           tr
    //-             td.col-xs-1
    //-               label Name:
    //-             td.col-xs-6
    //-               input#nameE(type='text', value='Mr. Anderson')
    //-           tr
    //-             td.col-xs-1
    //-               label E-mail:
    //-             td.col-xs-6
    //-               input#emailE(type='email')
    //-           tr
    //-             td.col-xs-1
    //-               label Phone Number:
    //-             td.col-xs-6
    //-               input#phoneE(type='tel')
    //-           tr
    //-             td.col-xs-1
    //-               label Address:
    //-             td.col-xs-6
    //-               input#addrE(type='text')
    //-           tr
    //-             td.col-xs-1
    //-               label Group:
    //-             td.col-xs-6
    //-               input#groupE(type='text')
    //-         button#saveE.btn.btn-primary.col-xs-offset-3(type='button', data-dismiss='modal') Save

    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/js/indexPage.js')